@font-face {
    font-family: "Crete Round";
    src: url("fonts/CreteRound-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Digi Grotesk";
    src: url("fonts/Digi\ Grotesk\ Bold\ Condensed\ Regular.ttf") format("truetype");
}

body {
    background-color: #101010;
    /* background-image: url(https://64.media.tumblr.com/fd0e871d6315e4625e6dac52ee0ae93c/tumblr_inline_n25fc5fAKv1qhwjx8.jpg), url(https://64.media.tumblr.com/9918c6e8c35ec72202823c80be2cf654/tumblr_inline_n25fbtRehS1qhwjx8.jpg); */    background-repeat: repeat, repeat;
    background-image: url(https://64.media.tumblr.com/1061954fcd7cb725dae4b956662e45f2/tumblr_inline_mns74aF5iR1qz4rgp.gif);
    background-size: 100px 80px;
    cursor: url(https://ani.cursors-4u.net/cursors/cur-13/cur1157.png), auto !important;
}

marquee {
    color: #FFFFFF;
    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 22px;
    bottom: 0;
    right: 0;
}

div.newstape_container{
    background-color: #a0b0ef29;;
    display: flex;
    position: fixed;
    align-items: center;
    bottom: 0;
    left: 0;
    border: 5px;
    border-color: #a6a6a6;
    border-style: ridge;
    margin: 5px;
    max-height: 10%;
}
div.news_badge_container{
    background-color: white;
    border-style: dotted;
    padding: 5px;
    display: flex;
}
#time{
margin: 0px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
align-items: end;
padding-left: 5px;

}

nav.navbar{
    background-color: cornsilk;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    border: 8px;
    border-style: inset;
}
div.visitor_count{
    padding: 10px;
    text-align: center;
    color:white;
    border-radius: 24px;
    background: #01fdff;
    border: 4px;
    border-style: dotted;
    outline-offset: 4px;
    background-color: darkblue;

}
div.visitor_count > * {
    margin: 0;
    margin-bottom: 10px;
}
a.sidebar_items{
    margin: 5px;
    white-space: nowrap
}
#guestbook{background-image: url(/static/guestbook_still.png)}
#guestbook:hover{background-image: url(/static/guestbook.gif)}

#clips{background-image: url(/static/flaming_gun.gif)}
#clips:hover{background-image: url(/static/flaming_gun.gif)}

div.sidebar_image_container{
    background-color: gray;
    margin: 5px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    align-self: center;
    border: 5px;
    border-style: ridge;
    height: 113px;
    width: -moz-available;
}
a.sidebar_image{
    height: 100%;
    display: block;
    height: 100%;
    width: 100%;
}
div.left{
    display: flex;
    flex-direction: column;
    flex: 1 1 0px;
    gap: 20px;
}
div.nord{
    color: #0E00B1;
    background-color: white;
    padding: 5px;
    position: -webkit-sticky;
    position: sticky;
    top: 15px;
    scroll-behavior: auto;
    display: flex;
    flex-direction: column;
    max-width: 180px;
    text-align: center;
}

#nord_link > img{
    width:100%;
}
div.nord > a, div.nord > a:hover, div.nord > a:visited, div.nord > a:active {
    color: inherit;
    text-decoration: none;
   }
div.sidebyside{
    display: flex;
    align-items: center;
}
div.main{
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 60px;
    }
    
div.middle{
    display: flex;
    flex-direction: column;
}
div.base{
    height: auto;
    padding:20px;
    padding-top: 0px;
    margin: 15px;
    border: 8px;
    border-style: inset;
}
div.section1{
    background-image: url(skull_bg.gif);
}
div.section2{
    background-image: url(cloud.jpg);
    background-repeat: repeat;
    font-family: 'times new roman';
    color: white;
    border-color: azure;
    border-style: groove;
    background-size: cover;
}
.section2 .title{
    font-weight: 900;
    font-family: "Digi Grotesk";
    letter-spacing: 0.15rem;
    text-align: center;
    color:white;
    text-shadow:
        -4px 4px #ef3550,
        -8px 8px #f48fb1,
        -12px 12px #7e57c2,
        -16px 16px #2196f3,
        -20px 20px #26c6da;
}
div.section2 > div{
    display: flex;
}
div.half > * {
    width: 50%;
    object-fit: contain
    
}
marquee.flaming_banner{
    margin:"5px";
    behavior: "alternate";

}
a.newstape{
    padding-right: 200px;
    color: inherit;
    text-decoration: none;
    text-decoration: underline;
    text-decoration-style: dotted;
}
div.lottery_div{
    color: white;
}
table{
    border: 5px;
    border-color: blueviolet;
    border-style: groove;
    background-color: black;
}
th{
    font-size: 22px;
    font-family: 'Arial Black';
    background-image: linear-gradient(black, gray, black);
    filter:
        drop-shadow(2px 2px silver)
        drop-shadow(1px 1px gray);
}
.multiline {
    white-space: pre-line;
  }
div.title{
    display: flex;
    width: fit-content;
    align-items: center;
    margin:auto;
    margin-bottom: 10px;
}
h1.title_banner {
    width: 50%;
    margin: 0 auto;

    width: fit-content;
    text-align: center;
    top: 15px;

    font-family: 'Crete Round';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;    
    line-height: 122px;

    color: #FFFFFF;

    border: 10px solid #0E00B1;
    text-shadow: -7px 4px 0px #0C23EF;
    margin-left: 10px;
    margin-right: 10px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}
div.sidebar_gif{
    display: flex;
    align-items: center;
}

@keyframes glow{
    from{
    }
    to{
    filter:drop-shadow(10px 10px 14px #44d)
    }
}

h1.title_banner:hover{
    animation-duration: 2.5s;
    animation-name: glow;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

div.footer{
    color: #FFFFFF;
    font-weight: bolder;
    padding: 10px;
    height:auto;
    text-align: center;
}

/* button {
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    border-right: 1px solid #848484;
    border-bottom: 1px solid #848484;
    background-color: transparent;
    padding: 3px 15px 3px 15px;
  }

button:active {
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #848484;
    border-top: 1px solid #848484;
  } */
